language = "nodejs"
run = "npm start"

## 📝 Credits

[@iCrawl](https://github.com/iCrawl) For the queue system used in this application which was adapted from [@iCrawl/discord-music-bot](https://github.com/iCrawl/discord-music-bot)

[![Run on Repl.it](https://repl.it/badge/github/eritislami/evobot)](https://repl.it/github/eritislami/evobot)
